html[data-theme=zensur] {

body {
    background: white;
}

#LoaderNode {
    --frames: "\E013\E014\E015\E014";
    --delayMs: 512;
    font-family: GT America;
    font-size: calc(var(--font-base) * 5);
}

.typer_container {
    width: 100%;
    align-self: flex-start;
    font-size: calc(var(--font-base) * 3.5);
    margin: 1em;
    row-gap: .3em;
    font-family: GT America;
}

.typer_content {
    row-gap: .4em;
}

.typer_caret {
    background: black;
    position: absolute;
    top: -.5ex;
    bottom: -.5ex;
    left: -1px;
    right: -1px;
}

.segment_hidden {
    display: none;
}

.segment  {
    &:not(.whitespace) .segment_ok {
        color: transparent;
        background: black;
    }

    .segment_err {
        background: black;
        color: white;
        transform-origin: center;
        transform: scaleY(1.3) rotate(3deg);
    }
}

#RelatedItems {
    font-family: GT America;

    label:has(:focus) span {
        transform-origin: center;
        transform: scaleY(1.3) rotate(-1deg);
        background: black;
        color: white;
        z-index: 1;
    }

    & span {
        -webkit-text-stroke: unset;

        &:not(:has(:focus)) {
            color: black;
        }

        &:has(:focus) {
        }
    }
}

}
